/* * {
  box-sizing: border-box; 
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.calendar-container {
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.navbar{
  width: 100vw;
  position: sticky;
  top: 0;
}

.navbarList {
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  list-style-type: none;
}


.month-button {
  background: transparent;
  padding: auto;
  height: 5vh;
  width: 5vw;
  align-items: center;
  justify-content: center;
}

.popup-container {
  position: absolute;
} */